pandas
fuzzywuzzy
requests
aiohttp
geojson

s3fs
fsspec
smart_open
python-geosupport

# scraping
selenium
bs4
lxml

# S3
boto3 == 1.19.12
botocore == 1.20.106

recordlinkage
sentence_transformers

sklearn_pandas
statsmodels
sklearn
names
